{% extends 'base.html' %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/style_register.css' %}">
{% endblock extra_css %}

{% block content %}

  <div class="container">
    <div class="title">Registration</div>
    <div class="content">
      <form action="" method="post">
        {% csrf_token %}
        <div class="user-details">
          <div class="input-box">
            <span class="details">Ism</span>
            <input type="text" placeholder="Ismingizni kiriting" required name="{{ form.first_name.name }}">
          </div>
          <div class="input-box">
            <span class="details">Familiya</span>
            <input type="text" placeholder="Enter your last name" required name="{{ form.last_name.name }}">
          </div>
          <div class="input-box">
            <span class="details">Email</span>
            <input type="email" placeholder="Enter your email" required name="{{ form.email.name }}">
          </div>
          <div class="input-box">
            <span class="details">Username</span>
            <input type="text" placeholder="Enter your username" required name="{{ form.username.name }}">
          </div>
          <div class="input-box">
            <span class="details">Password</span>
            <input type="text" placeholder="Enter your password" required name="{{ form.password1.name }}">
          </div>
          <div class="input-box">
            <span class="details">Confirm Password</span>
            <input type="text" placeholder="Confirm your password" required name="{{ form.password2.name }}">
          </div>
        </div>
        <div class="gender-details">
          <input type="radio" name="{{ form.gender.name }}" value="male" id="dot-1">
          <input type="radio" name="{{ form.gender.name }}" value="female" id="dot-2">
          <span class="gender-title">Jins</span>
          <div class="category">
            <label for="dot-1">
            <span class="dot one"></span>
            <span class="gender">Erkak</span>
          </label>
          <label for="dot-2">
            <span class="dot two"></span>
            <span class="gender">Ayol</span>
          </label>
          </div>
        </div>
        <div class="button">
          <input type="submit" value="Register">
        </div>
      </form>
    </div>
  </div>

{% endblock %}