{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Ilhomjon Blog</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
	<link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}"> <!-- https://fontawesome.com/ -->
	<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet"> <!-- https://fonts.google.com/ -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/templatemo-xtra-blog.css' %}" rel="stylesheet">
    {% block extra_css %}{% endblock %}
</head>
<body>
	<header class="tm-header" id="tm-header">
        <div class="tm-header-wrapper">
            <button class="navbar-toggler" type="button" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="tm-site-header">
                <div class="mb-3 mx-auto tm-site-logo"><i class="fas fa-times fa-2x"></i></div>
                <h1 class="text-center">Ilhomjon Blog</h1>
            </div>
            <nav class="tm-nav" id="tm-nav">
                <ul>
                    <li class="tm-nav-item active"><a href="{% url 'home' %}" class="tm-nav-link">
                        <i class="fas fa-home"></i>
                        Bosh sahifa
                    </a></li>
                    <li class="tm-nav-item"><a href="{% url 'create' %}" class="tm-nav-link">
                        <i class="fas fa-pen"></i>
                        Blog qo'shish
                    </a></li>
                    <li class="tm-nav-item"><a href="{% url 'about' %}" class="tm-nav-link">
                        <i class="fas fa-users"></i>
                        Biz haqimizda
                    </a></li>
                    <li class="tm-nav-item"><a href="{% url 'contact' %}" class="tm-nav-link">
                        <i class="far fa-comments"></i>
                        Bog'lanish
                    </a></li>
                    {% if user.is_authenticated %}
                         <li class="tm-nav-item">
                            <form action="{% url 'logout' %}" method="POST">
                                {% csrf_token %}
                                <button type="submit" class="tm-nav-link btn btn-link">
                                    <i class="fa fa-sign-out" style="font-size:36px"></i>
                                    Logout
                                </button>
                            </form>
                        </li>
                    {% else %}
                        <li class="tm-nav-item"><a href="{% url 'login' %}" class="tm-nav-link">
                            <i class="fa fa-sign-in" style="font-size:36px"></i>
                            Login
                        </a></li>
                    {% endif %}
                </ul>
            </nav>
            <div class="tm-mb-65">
                <a rel="nofollow" href="https://fb.com/templatemo" class="tm-social-link">
                    <i class="fab fa-facebook tm-social-icon"></i>
                </a>
                <a href="https://twitter.com" class="tm-social-link">
                    <i class="fab fa-twitter tm-social-icon"></i>
                </a>
                <a href="https://instagram.com" class="tm-social-link">
                    <i class="fab fa-instagram tm-social-icon"></i>
                </a>
                <a href="https://linkedin.com" class="tm-social-link">
                    <i class="fab fa-linkedin tm-social-icon"></i>
                </a>
            </div>
            <p class="tm-mb-80 pr-5 text-white">
                Xtra Blog is a multi-purpose HTML template from TemplateMo website. Left side is a sticky menu bar. Right side content will scroll up and down.
            </p>
        </div>
    </header>

    <div class="container-fluid">
        <main class="tm-main">

            <!-- Search form -->
            <div class="row tm-row">
                <div class="col-12">
                    <form method="GET" class="form-inline tm-mb-80 tm-search-form">
                        <input class="form-control tm-search-input" name="query" type="text" placeholder="Search..." aria-label="Search">
                        <button class="tm-search-button" type="submit">
                            <i class="fas fa-search tm-search-icon" aria-hidden="true"></i>
                        </button>
                    </form>
                </div>
            </div>
            {% block content %}

            {% endblock content %}
            <footer class="row tm-row">
                <hr class="col-12">
                <div class="col-md-6 col-12 tm-color-gray">
                    Developer: <a rel="nofollow" target="_parent" href="https://github.com/RahimovIlhom" class="tm-external-link">Ilhomjon Rahimov</a>
                </div>
                <div class="col-md-6 col-12 tm-color-gray tm-copyright">
                    Mualiflik huquqi himoyalangan
                </div>
            </footer>
        </main>
    </div>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/templatemo-script.js' %}"></script>
    {% block extra_js %}{% endblock %}
</body>
</html>